.header-text {
  text-align: center;
  position: absolute;
  top: 20px; 
  width: 100%; 
  z-index: 1;
}
#weather {
  padding: 10px;
  background: none;
  position: fixed;
  bottom: 40px;
  right: 30px;
  width: 200px;
  box-shadow: 0px 4px 8px #9f2db4;
  border-radius: 10px;
  z-index: 2;
  display: flex; 
  justify-content: center;
  align-items: center; 
  backdrop-filter: blur(10px); 

}

#weather img {
  max-width: 100%; 
  margin-bottom: 5px; 
}

#weather-content {
  font-family: Arial, sans-serif;
  text-align: center;
  width: 100%;
}

#weather-content p {
  margin: 0;
  text-transform: uppercase;
  color: #3cc1c8;
  font-size: 18px;
}

#weather-content p:not(:last-child) {
  margin-bottom: 5px
}
.header-text h1 {
  font-size: 24px;
  color: #9f2db4;
  font-weight: 500;
   text-shadow: 
    -0.5px -0.5px 0 #eef1c3,  
     0.5px -0.5px 0 #eef1c3,
    -0.5px  0.5px 0 #eef1c3,
     0.5px  0.5px 0 #eef1c3; 
}
body {
  display: flex;
  background: linear-gradient(-45deg, #9f2db4, #eef1c3, #f47321);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
  justify-content: center;
  align-items: center;
}

.U {
  width: 100%;
  display: flex;
  justify-content: left;
  align-items: flex-start;
  position: absolute;
  top: 20px;
  z-index: 1; 
}

.U_Image,
.Forecast_Image {
  height: auto;
  position: absolute;
  z-index: 2;
}

.U_Image {
  top: 0;
  left: 170px;
  width: 35%;

}

.Forecast_Image {
  top: 230px;
  left: 70px;
  width: 50%;

}

.map-container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  z-index: 0;
}

svg {
  width: 110%;
  transform: translate(-50%, -50%) rotate(0deg);
  transform-origin: center center; 
  height: auto;
  position: absolute;
  top: 62%;
  left: 59%;
  z-index: 0;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	25% {
		background-position: 100% 50%;
	}
	50% {
		background-position: 0% 50%;
    }
    75% {
		background-position: 100% 50%;
    }
    100% {
		background-position: 0% 50%;
    }
}

body.circular-gradient {
  background: radial-gradient(circle, #fff, #f47321, #9f2db4);
  background-size: cover;
}
.map-container {
  display: flex;
  justify-content: center;
  align-items: center; 
  overflow: hidden;
}

#popupContainer {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 280px;
  height: 90px;
  background-color: rgba(12, 255, 251, 0.9);
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

#popupContent {
  background-color: white;
  align-items: center;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
#popupText {
  display: block;
  align-items: center;
  margin-bottom: 50px;
}

#Rainbow,
#Lake,
#CAS,
#Foote,
#Arboretum,
#PoliSci,
#Physics,
#Cox,
#CS,
#Richter,
#Law,
#Frost,
#Hecht,
#Gym,
#UV,
#Arts,
#Flipse,
#Arch,
#Eaton,
#Dooly,
#Nursing,
#Allen,
#Comm,
#LC,
#Merrick,
#Herbert,
#Mahoney
{
  fill: none;
    stroke: rgb(255, 102, 0);
    stroke-width: 4px;
    transition: fill 0.1s, stroke 0.3s;
}

#Rainbow:hover,
#Lake:hover,
#CAS:hover,
#Foote:hover,
#Arboretum:hover,
#PoliSci:hover,
#Physics:hover,
#Cox:hover,
#CS:hover,
#Richter:hover,
#Law:hover,
#Frost:hover,
#Hecht:hover,
#Gym:hover,
#UV:hover,
#Arts:hover,
#Flipse:hover,
#Arch:hover,
#Eaton:hover,
#Dooly:hover,
#Nursing:hover,
#Allen:hover,
#Comm:hover,
#LC:hover,
#Merrick:hover,
#Herbert:hover,
#Mahoney:hover {
  fill: #f47321;
  stroke: none;
}
.close-button {
  position: absolute;
  top: 5px;
  right: 5px;
  padding: 5px 10px;
  background-color: #fff;
  border: 2px solid #000;
  border-radius: 5px;
  cursor: pointer;
}